.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-w), inset 0 -80px var(--cor-w);
}

.tecnologia-conteudo {
  padding: 120px 0px;
}

.tecnologia-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.tecnologia-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-container span {
  margin-bottom: 20px;
  display: block;
}

.tecnologia-container h2 {
  margin-bottom: 32px;
}

.tecnologia-conteudo > p {
  margin-bottom: 20px;
}

.tecnologia-conteudo > a {
  border-bottom: 4px solid var(--cor-p1);
  padding-bottom: 4px;
}

.tecnologia-conteudo ul {
  margin-top: 79px;
  display: flex;
  gap: 40px;
}
